<!--NN01_home.html-->
{% extends "base.html" %}
{% block title %}Title NN01 Model - Home{% endblock %}
{% block description %}Description - Test Chart{% endblock %}
{% block charts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<div style="width: 900px; height: 900px;">
    <!--차트가 그려질 부분-->
    <canvas id="myChart"></canvas>
</div>
<!-- <script type="module" src="charts.js"></script> -->
<script type="text/javascript">
    var context = document
    .getElementById('myChart')
    .getContext('2d');
    var myChart = new Chart(context, {
        type: 'line', // 차트의 형태
        data: { // 차트에 들어갈 데이터
            labels: [
                '1','2','3','4','5','6','7'
            ],
            datasets: [
                { //데이터
                    label: 'test1', //차트 제목
                    // fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                    data: [
                        21,19,25,20,23,26,25 //x축 label에 대응되는 데이터 값
                    ],
                    backgroundColor: [
                        //색상
                        "rgb(255, 99, 132)",
                        // 'rgba(255, 99, 132, 0.2)',
                        // 'rgba(54, 162, 235, 0.2)',
                        // 'rgba(255, 206, 86, 0.2)',
                        // 'rgba(75, 192, 192, 0.2)',
                        // 'rgba(153, 102, 255, 0.2)',
                        // 'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        //경계선 색상
                        'rgba(255, 99, 132, 1)',
                        // 'rgba(54, 162, 235, 1)',
                        // 'rgba(255, 206, 86, 1)',
                        // 'rgba(75, 192, 192, 1)',
                        // 'rgba(153, 102, 255, 1)',
                        // 'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1 //경계선 굵기
                }
            ]
        },
        options: {
            scales: {
                yAxes: [
                    {
                        ticks: {
                            beginAtZero: true
                        }
                    }
                ]
            }
        }
    });


    let response ='{{response|safe}}'
    console.log(response)
    let dataset = JSON.parse(response)
    let time = dataset.data.time
    let value = dataset.data.value
    
    myChart.data.labels.push(time);
    myChart.data.datasets[0].data.push(parseFloat(value));
    myChart.update();

    // if (myChart.data.labels.length >= 7) {
    //     myChart.data.labels.shift();
    //     myChart.data.datasets[0].data.shift();
    // }
        

</script>
{% endblock %}